<!-- este es un componente HIJO reutilizable en cualquier parte del sitio -->
<div class="card">
  <div class="card-body">
    <h3>{{ titulo }}</h3>
    <div style="display: block">
      <canvas
        baseChart
        [data]="datas"
        [labels]="labels1"
        chartType="doughnut"
        [colors]="colors"
      >
      </canvas>
    </div>
  </div>
</div>

<!-- esto es solamente la parte de la grafica, en este caso podemos jugar con sus valores recibiendolos de parte del componente padre -->
